h4 {
    color: rgb(255, 165, 1);
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
    text-align: center;
}
body { 
     font-family: Georgia;
     background-image: url("image.jpg");
     height: 100%;
     background-repeat: no-repeat;
     background-size: cover;
}
h1 {
    color: rgba(255, 255, 0, 1);
    background-color:rgba(255, 255, 255, 1);
    text-align: center; 
    border: 2px solid rgba(0, 0, 0, 1);
}
a {
  padding: 25px;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
}
p {
  color: rgba(255, 255, 255, 1); 
}
.nobreak {
  padding: 5px;
  width: 30%;
  height: 425px;
  margin-top: 10px;
}
li {
    color: rgba(255, 255, 255, 1);
}
table, th, tr {
 border: 1px solid rgba(0, 0, 0, 1);
}
table {
  width: 100%;
}
th, tr {
  height: 25px;
  vertical-align: center;
}
th {
  background-color: rgba(255, 142, 0, 0.4);
  color: rgba(255, 255, 255, 1);
}
.column {
    padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.designcolumn {
    column-count: 2;
}
td {
    color: rgba(255, 255, 255, 1);
}
