<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Embedded Style Sheet</title>
<style>
h4 {
    color: rgba(0, 0, 255, 1);
}
body { 
     font-family: Georgia;
}
h1 {
    background-color: rgba(0, 148, 255, 0.7);
    color: rgba(176, 0, 255, 1);
    text-align: center; 
    border: 2px solid rgba(0, 0, 0, 1);
}
a {
  padding: 25px;
  font-size: 15px;
}
p {
  color: rgba(0, 0, 0, 1); 
}
table, th, tr, td {
 border: 1px solid rgba(0, 0, 0, 1);
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,tr {
  height: 25px;
} 
</style> 
</head>
</html>
