h4 {
    color: rgba(255, 142, 0, 0.9);
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body { 
     font-family: Georgia;
     background-image: url("image.jpg");
     height: 100%;
     background-repeat: no-repeat;
     background-size: cover;
}
h1 {
    color: rgba(255, 255, 0, 1);
    background-color:rgba(255, 142, 0, 0.4);
    text-align: center; 
    border: 2px solid rgba(0, 0, 0, 1);
}
a {
  padding: 25px;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
}
p {
  color: rgba(255, 255, 255, 1); 
}
.nobreak {
     -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
li {
    color: rgba(255, 255, 255, 1);
}
table, th, tr {
 border: 1px solid rgba(0, 0, 0, 1);
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, tr {
  height: 25px;
  vertical-align: center;
}
th {
  background-color: rgba(255, 142, 0, 0.4);
  color: rgba(255, 255, 255, 1);
}
.column {
       column-count: 3;
}
.designcolumn {
    column-count: 2;
}
td {
    color: rgba(255, 255, 255, 1);
}
